﻿<h1 mat-dialog-title>
	<mat-toolbar color="primary">
		<button mat-icon-button (click)="Abort()"><i class="mdi mdi-arrow-left"></i></button>
		<span class="toolbar-flex" *ngIf="data.create">Add Character to Encounter</span>
		<span class="toolbar-flex" *ngIf="!data.create">Edit {{encounterCharacter.character.name}} in {{encounterCharacter.encounter.description}}</span>

		<button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="encounterCharacter">
			<mat-icon class="mdi mdi-dots-vertical"></mat-icon>
		</button>
		<mat-menu #menu>
			<button mat-menu-item (click)="Delete()">
				<mat-icon class="mdi mdi-delete"></mat-icon>
				<span>Delete</span>
			</button>
		</mat-menu>
	</mat-toolbar>
</h1>
<div mat-dialog-content>
	<mat-form-field *ngIf="lazyLoad">
		<input matInput required type="text" placeholder="Character" aria-label="Character" [(ngModel)]="encounterCharacter.character" [matAutocomplete]="characterAuto" #character="ngModel">
		<mat-error *ngIf="character.invalid && character.errors.required">
			Character is required.
		</mat-error>
		<mat-autocomplete #characterAuto="matAutocomplete" [displayWith]="CharacterDisplay" (optionSelected)="encounterCharacter.Dirty()" (closed)="ClearCharacter()">
			<mat-option *ngFor="let item of filteredCharacters | async" [value]="item">
				{{item.name}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
	<mat-form-field *ngIf="lazyLoad">
		<input matInput required type="text" placeholder="Encounter" aria-label="Encounter" [(ngModel)]="encounterCharacter.encounter" [matAutocomplete]="encounterAuto" #encounter="ngModel">
		<mat-error *ngIf="encounter.invalid && encounter.errors.required">
			Encounter is required.
		</mat-error>
		<mat-autocomplete #encounterAuto="matAutocomplete" [displayWith]="EncounterDisplay" (optionSelected)="encounterCharacter.Dirty()" (closed)="ClearEncounter()">
			<mat-option *ngFor="let item of filteredEncounters | async" [value]="item">
				{{item.description}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
	<mat-form-field>
		<input matInput required type="number" placeholder="Shares" [(ngModel)]="encounterCharacter.shares" (change)="encounterCharacter.Dirty()" [MinimumValue]="1" #shares="ngModel" />
		<mat-error *ngIf="shares.invalid && shares.errors.required">
			Share is required.
		</mat-error>
		<mat-error *ngIf="shares.invalid && shares.errors.MinimumValue">
			Share must be greater than zero.
		</mat-error>
	</mat-form-field>
	<mat-form-field>
		<input matInput type="number" placeholder="Total Shares" disabled [(ngModel)]="AdjustedShare" />
	</mat-form-field>
	<mat-form-field>
		<input matInput placeholder="Percentage of Shares" disabled [(ngModel)]="PercentageShare" />
	</mat-form-field>
	<mat-form-field>
		<input matInput placeholder="Share Value" disabled [(ngModel)]="ShareValue" />
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="Accept()" cdkFocusInitial>Ok</button>
</div>
