﻿<div *ngIf="transactions">
	<mat-nav-list>
		<mat-list-item *ngFor="let transaction of ((loot && loot.transactions) || (encounter && encounter.transactions) || (character && character.transactions) | FilterLootTransactions: mode : character)">
			<a mat-line (click)="Edit(transaction)">
				<span fxFlex="25">{{transaction.description}}</span>
				<span fxFlex="25" *ngIf="mode === 'Loot'">{{transaction.character ? transaction.character.name : ""}}</span>
				<span fxFlex="25">{{transaction.amount}}</span>
				<span fxFlex="25" *ngIf="mode === 'Loot'">{{transaction.quantity}}</span>
			</a>
			<button mat-icon-button>
				<mat-icon>chevron_right</mat-icon>
			</button>
		</mat-list-item>
		<mat-list-item *ngIf="!((loot && loot.transactions) || (encounter && encounter.transactions) || (character && character.transactions) | FilterLootTransactions: mode : character).length">
			No transactions.
		</mat-list-item>
	</mat-nav-list>
	<mat-action-row>
		<button mat-button (click)="Add($event)">Add</button>
	</mat-action-row>
</div>
