﻿<h1 mat-dialog-title>
	<mat-toolbar color="primary">
		<button mat-icon-button (click)="Abort()"><i class="mdi mdi-arrow-left"></i></button>
		<span class="toolbar-flex" *ngIf="data.create">Add Transaction</span>
		<span class="toolbar-flex" *ngIf="!data.create">Edit Transaction</span>
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon class="mdi mdi-dots-vertical"></mat-icon>
		</button>
		<mat-menu #menu>
			<button mat-menu-item (click)="Delete()">
				<mat-icon class="mdi mdi-delete"></mat-icon>
				<span>Delete</span>
			</button>
		</mat-menu>
	</mat-toolbar>
</h1>
<div mat-dialog-content>
	<mat-form-field>
		<input matInput required type="text" [(ngModel)]="transaction.description" name="description" placeholder="Description" (change)="transaction.Dirty()" #description="ngModel" />
		<mat-error *ngIf="description.invalid && description.errors.required">
			Description is required.
		</mat-error>
	</mat-form-field>
	<mat-form-field *ngIf="mode === 'loot'">
		<input matInput type="text" placeholder="Character" aria-label="Character" [(ngModel)]="transaction.character" [matAutocomplete]="characterAuto" #character="ngModel">
		<mat-error *ngIf="character.invalid && character.errors.required">
			Character is required.
		</mat-error>
		<mat-autocomplete #characterAuto="matAutocomplete" [displayWith]="CharacterDisplay" (optionSelected)="transaction.Dirty()" (closed)="EmptyClear()">
			<mat-option *ngFor="let item of filteredCharacters | async" [value]="item">
				{{item.name}}
			</mat-option>
		</mat-autocomplete>
	</mat-form-field>
	<mat-form-field>
		<input matInput type="number" [(ngModel)]="transaction.amount" name="amount" placeholder="Amount" [OrRequired]="transaction.quantity" (change)="transaction.Dirty()" #amount="ngModel" />
		<mat-error *ngIf="amount.invalid && amount.errors.OrRequired">
			Quantity or Amount is required.
		</mat-error>
	</mat-form-field>
	<mat-form-field *ngIf="mode === 'loot'">
		<input matInput type="number" [(ngModel)]="transaction.quantity" name="quantity" placeholder="Quantity" [OrRequired]="transaction.amount" [MaximumValue]="0" [MinimumValue]="transaction.quantity - (transaction.loot | SumRemainingLoot)" (change)="transaction.Dirty()" #quantity="ngModel" />
		<mat-error *ngIf="quantity.invalid && quantity.errors.OrRequired">
			Quantity or Amount is required.
		</mat-error>
		<mat-error *ngIf="quantity.invalid && quantity.errors.MinimumValue">
			Quantity is below minimum.
		</mat-error>
		<mat-error *ngIf="quantity.invalid && quantity.errors.MaximumValue">
			Quantity is above maximum.
		</mat-error>
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="Accept()" cdkFocusInitial>Ok</button>
</div>
