﻿<h2 class="display-3">
	<button mat-button [matMenuTriggerFor]="menu">{{ characterStates[searchState] }} Characters <mat-icon class="mdi mdi-filter"></mat-icon></button>
</h2>
<mat-menu #menu>
	<button mat-menu-item (click)="Switch(characterStates.Active)">Active</button>
	<button mat-menu-item (click)="Switch(characterStates.Inactive)">Inactive</button>
	<button mat-menu-item (click)="Switch(characterStates.Dead)">Dead</button>
</mat-menu>
<mat-accordion class="accordian-flex">
	<mat-expansion-panel *ngIf="(company.characters | FilterByState: searchState).length" hideToggle="true" [disabled]="true">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Character
			</mat-panel-title>
			<mat-panel-description>
				<span fxFlex="80" fxLayoutAlign="start stretch">Description</span>
				<span fxFlex="20" fxLayoutAlign="end stretch">Available Loot</span>
			</mat-panel-description>
		</mat-expansion-panel-header>
	</mat-expansion-panel>
	<mat-expansion-panel *ngFor="let character of (company.characters | FilterByState: searchState | OrderCharacters | Page: pageData)" hideToggle="true">
		<mat-expansion-panel-header>
			<mat-panel-title>
				{{ character.name }}
			</mat-panel-title>
			<mat-panel-description>
				<span fxFlex="80" fxLayoutAlign="start stretch">{{ character.description }}</span>
				<span fxFlex="20" fxLayoutAlign="end stretch">{{ character | CharacterTotal | number: "1.2-2" }}</span>
			</mat-panel-description>
		</mat-expansion-panel-header>
		<ng-template matExpansionPanelContent>
			<financial-character-detail [character]="character" (navigationCallback)="Load($event)"></financial-character-detail>
		</ng-template>
	</mat-expansion-panel>
	<mat-expansion-panel *ngIf="!(company.characters | FilterByState: searchState).length" hideToggle="true" [disabled]="true">
		<mat-expansion-panel-header>
			<mat-panel-title>
				No Characters
			</mat-panel-title>
		</mat-expansion-panel-header>
	</mat-expansion-panel>
	<mat-expansion-panel hideToggle="true" [disabled]="true">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Net Liquid Assets:
			</mat-panel-title>
			<mat-panel-description>
				<span fxFlex="100" fxLayoutAlign="end stretch">{{ company.characters | FilterByState: searchState | SumCharacterTotal | number: "1.2-2" }}</span>
			</mat-panel-description>
		</mat-expansion-panel-header>
	</mat-expansion-panel>
	<mat-action-row>
		<mat-paginator (page)="UpdatePageData($event)" [length]="company.characters.length" [pageSize]="10" [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
		<button mat-button (click)="Add($event)">Add</button>
	</mat-action-row>
</mat-accordion>
