﻿<h1 mat-dialog-title>
	<mat-toolbar color="primary">
		<button mat-icon-button (click)="Abort()"><i class="mdi mdi-arrow-left"></i></button>
		<span class="toolbar-flex" *ngIf="data.create">Add Loot</span>
		<span class="toolbar-flex" *ngIf="!data.create">Edit Loot</span>
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon class="mdi mdi-dots-vertical"></mat-icon>
		</button>
		<mat-menu #menu>
			<button mat-menu-item (click)="Delete()">
				<mat-icon class="mdi mdi-delete"></mat-icon>
				<span>Delete</span>
			</button>
		</mat-menu>
	</mat-toolbar>
</h1>
<div mat-dialog-content>
	<mat-form-field>
		<input matInput required type="text" [(ngModel)]="loot.description" name="description" placeholder="Item" (change)="loot.Dirty()" #description="ngModel" />
		<mat-error *ngIf="description.invalid && description.errors.required">
			Description is required.
		</mat-error>
	</mat-form-field>
	<mat-form-field>
		<input matInput required type="number" [MinimumValue]="0" [(ngModel)]="loot.value" name="value" placeholder="Value" (change)="loot.Dirty()" #value="ngModel" />
		<mat-error *ngIf="value.invalid && value.errors.required">
			Value is required.
		</mat-error>
		<mat-error *ngIf="value.invalid && value.errors.MinimumValue">
			Value must be equal to or greater than zero.
		</mat-error>
	</mat-form-field>
	<mat-form-field>
		<input matInput required type="number" [(ngModel)]="loot.quantity" name="quantity" placeholder="Quantity" [MinimumValue]="1" (change)="loot.Dirty()" #quantity="ngModel" />
		<mat-error *ngIf="quantity.invalid && quantity.errors.required">
			Quantity is required.
		</mat-error>
		<mat-error *ngIf="quantity.invalid && quantity.errors.MinimumValue">
			Quantity must be greater than zero.
		</mat-error>
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="Accept()" cdkFocusInitial>Ok</button>
</div>
