﻿<div class="container">
	<form #CompanyIndexForm="ngForm">
		<ng-container *ngIf="companyList" class="card-deck-container">
			<ng-container *ngFor="let company of companyList">
				<div class="card-item card-item-selectable" (click)="Load(company)">
					<mat-card>
						<img mat-card-image src="/assets/sample-art.jpg" alt="company-artwork" />
						<mat-card-title>{{ company.name }}</mat-card-title>
						<mat-card-subtitle>{{ company.description }}</mat-card-subtitle>
					</mat-card>
				</div>
			</ng-container>
		</ng-container>

		<div fxLayout="row" fxLayoutAlign="end">
			<button mat-fab (click)="Add($event)"><i class="mdi mdi-plus"></i></button>
		</div>
	</form>
	<div *ngIf="errorMessage">
		<p>Error:</p>
		<pre>{{ errorMessage }}</pre>
	</div>
</div>
