.card-item {
	width: 290px;
	margin: 3px;
	display: inline-block;
}

.card-item-selectable {
	cursor: pointer;

	&:hover {
		box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  		transition: box-shadow 0.3s ease-in-out;
	}
}
