<h1 mat-dialog-title>
	<mat-toolbar color="primary">
		<button mat-icon-button (click)="Abort()"><i class="mdi mdi-arrow-left"></i></button>
		<span>Edit {{data.type}}</span>
	</mat-toolbar>
</h1>
<div mat-dialog-content>
	<mat-form-field>
		<input autofocus matInput type="text" [(ngModel)]="data.name" name="name" placeholder="{{data.type}} Name">
	</mat-form-field>
	<mat-form-field>
		<input matInput type="text" [(ngModel)]="data.description" name="description" placeholder="{{data.type}} Description">
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="Accept()" cdkFocusInitial>Ok</button>
</div>
