﻿<div *ngIf="character">
	<mat-accordion class="accordian-flex">
		<mat-expansion-panel hideToggle="true" [disabled]="true">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Item
				</mat-panel-title>
				<mat-panel-description>
					<span fxFlex="70" fxLayoutAlign="end stretch">Quantity</span>
					<span fxFlex="30" fxLayoutAlign="end stretch">Income</span>
				</mat-panel-description>
			</mat-expansion-panel-header>
		</mat-expansion-panel>
		<mat-expansion-panel *ngFor="let transaction of (character | FilterClaimedLoot | OrderLoot)" hideToggle="true">
			<mat-expansion-panel-header>
				<mat-panel-title>
					{{ transaction.loot.description }}
				</mat-panel-title>
				<mat-panel-description>
					<span fxFlex="70" fxLayoutAlign="end stretch">{{ -transaction.quantity }}</span>
					<span fxFlex="30" fxLayoutAlign="end stretch">{{ -transaction.amount }}</span>
				</mat-panel-description>
			</mat-expansion-panel-header>

			<ng-template matExpansionPanelContent>
				<financial-transaction [loot]="transaction.loot" [character]="character"></financial-transaction>
			</ng-template>
		</mat-expansion-panel>
		<mat-expansion-panel *ngIf="!(character | FilterClaimedLoot).length" hideToggle="true" [disabled]="true">
			<mat-expansion-panel-header>
				<mat-panel-title>
					No claimed loot.
				</mat-panel-title>
			</mat-expansion-panel-header>
		</mat-expansion-panel>
	</mat-accordion>
</div>
