<div *ngIf="company">
	<div class="form-group row">
		<label class="col-sm-4 col-form-label" for="companyName">Company Name</label>
		<div class="col-sm-8">
			<div class="input-group">
				<input matInput required type="text" [(ngModel)]="company.name" name="name" placeholder="Name" (change)="company.Dirty()" #name="ngModel" />
				<span class="input-group-addon" *ngIf="name.invalid"><i class="mdi mdi-exclamation"></i></span>
			</div>
			<div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
				Name is Required
			</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-sm-4 col-form-label" for="companyDescription">Description</label>
		<div class="col-sm-8">
			<div class="input-group">
				<input matInput required type="text" [(ngModel)]="company.description" name="description" placeholder="Description" (change)="company.Dirty()" #description="ngModel" />
				<span class="input-group-addon" *ngIf="description.invalid"><i class="mdi mdi-exclamation"></i></span>
			</div>
			<div *ngIf="description.invalid && (description.dirty || description.touched)" class="invalid-feedback">
				Description is Required
			</div>
		</div>
	</div>
</div>
