﻿<mat-accordion class="accordian-flex">
	<mat-expansion-panel *ngFor="let encounter of company.encounters | FilterDeleted" hideToggle="true">
		<mat-expansion-panel-header>
			<mat-panel-title>
				{{ encounter.description }}
			</mat-panel-title>
			<mat-panel-description></mat-panel-description>
		</mat-expansion-panel-header>

		<ng-template matExpansionPanelContent>
			<financial-encounter-detail [encounter]="encounter"></financial-encounter-detail>
		</ng-template>

	</mat-expansion-panel>
	<mat-expansion-panel *ngIf="!(company.encounters | FilterDeleted).length" hideToggle="true" [disabled]="true">
		<mat-expansion-panel-header>
			<mat-panel-title>
				No Encounters
			</mat-panel-title>
		</mat-expansion-panel-header>
	</mat-expansion-panel>
	<mat-action-row>
		<button mat-button (click)="Add($event)">Add</button>
	</mat-action-row>
</mat-accordion>
