﻿<h1 mat-dialog-title>
	<mat-toolbar color="primary">
		<button mat-icon-button (click)="Abort()"><i class="mdi mdi-arrow-left"></i></button>
		<span class="toolbar-flex" *ngIf="data.create">Add Encounter</span>
		<span class="toolbar-flex" *ngIf="!data.create">Edit {{encounter.description}}</span>
		<button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="encounter">
			<mat-icon class="mdi mdi-dots-vertical"></mat-icon>
		</button>
		<mat-menu #menu>
			<button mat-menu-item (click)="Delete()">
				<mat-icon class="mdi mdi-delete"></mat-icon>
				<span>Delete</span>
			</button>
		</mat-menu>
	</mat-toolbar>
</h1>
<div mat-dialog-content>
	<mat-form-field>
		<input matInput required type="text" [(ngModel)]="encounter.description" name="description" placeholder="Description" (change)="encounter.Dirty()" #description="ngModel" />
		<mat-error *ngIf="description.invalid && description.errors.required">
			Description is required.
		</mat-error>
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="Accept()" cdkFocusInitial>Ok</button>
</div>
