﻿<div *ngIf="encounter">
	<button mat-icon-button (click)="Edit()">
		<mat-icon class="mdi mdi-pencil"></mat-icon>
	</button>
	<mat-vertical-stepper #stepper>
		<mat-step>
			<ng-template matStepLabel>
				<span>Characters</span>
			</ng-template>
			<financial-encounter-character [encounter]="encounter"></financial-encounter-character>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>
				<span>Loot</span>
				<span fxFlex="80" fxLayoutAlign="end stretch"> {{ encounter.loots | SumEncounterLoot | number : "1.2-2" }}</span>
				<span fxFlex="20" fxLayoutAlign="end stretch"> {{ encounter.loots | GatherLootTransactions | SumTransactionAmounts | number : "1.2-2" }}</span>
			</ng-template>
			<financial-encounter-loot [encounter]="encounter"></financial-encounter-loot>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>
				<span>Transactions</span>
				<span fxFlex="100" fxLayoutAlign="end stretch">{{ ((encounter.transactions) | SumTransactionAmounts) | number : "1.2-2" }}</span>
			</ng-template>
			<financial-transaction [encounter]="encounter"></financial-transaction>
		</mat-step>
	</mat-vertical-stepper>
</div>
