.main-content {
	margin-top: 20px;
}

.compact-nav {
	padding-top: 0 !important;
}

.main-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.main-sidenav-container {
	/* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
	flex: 1;
}
