﻿<div class="main-container">
	<mat-toolbar color="primary">
		<button mat-icon-button (click)="drawer.toggle()"><i class="mdi mdi-menu"></i></button>
		<span>{{ toolbarService.Title }}</span>
	</mat-toolbar>
	<mat-sidenav-container class="main-sidenav-container">
		<mat-sidenav #drawer [mode]="NavLayout" [fixedInViewport]="IsFixedNav" fixedTopGap="56">
			<mat-nav-list>
				<a mat-list-item (click)="Navigate('/')" routerLinkActive="active">Home</a>
				<a mat-list-item (click)="Navigate('/company/')">Companies</a>
			</mat-nav-list>
			<span [hidden]="!toolbarService.MenuItems">
				<mat-divider></mat-divider>
				<mat-nav-list class="compact-nav">
					<a *ngFor="let item of toolbarService.MenuItems" mat-list-item (click)="Navigate(item.path)">{{ item.label }}</a>
				</mat-nav-list>
			</span>
			<span [hidden]="!IsLoggedIn">
				<mat-divider></mat-divider>
				<mat-nav-list class="compact-nav">
					<a mat-list-item (click)="Logout()">Logout</a>
				</mat-nav-list>
			</span>
			<span [hidden]="!IsLoggedIn">
				<mat-divider></mat-divider>
				<mat-nav-list class="compact-nav">
					<a mat-list-item (click)="Navigate('/register')">Register</a>
					<a mat-list-item (click)="Navigate('/login')">Login</a>
				</mat-nav-list>
			</span>
		</mat-sidenav>
		<mat-sidenav-content class="main-content">
			<router-outlet></router-outlet>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
