﻿<div class="container">
	<div class="col-md-6 mx-auto">
		<form role="form" #RegisterForm="ngForm">
			<div *ngIf="registerViewModel">
				<mat-form-field>
					<input matInput type="email" [(ngModel)]="registerViewModel.email" name="email" placeholder="Email" />
				</mat-form-field>
				<mat-form-field>
					<input matInput type="password" [(ngModel)]="registerViewModel.password" name="password" placeholder="Password" />
				</mat-form-field>
				<mat-form-field>
					<input matInput type="password" [(ngModel)]="registerViewModel.verifyPassword" name="verifyPassword" placeholder="Verify Password" />
				</mat-form-field>

				<button mat-button color="warn" (click)="register($event)">Submit</button>
				<span class="small">Already registered? <a [routerLink]="['/login']"> Click here to Login</a></span>
			</div>
		</form>
	</div>
</div>

<div *ngIf="errorMessage">
	<p>Error:</p>
	<pre>{{ errorMessage  }}</pre>
</div>
