﻿<div *ngIf="encounter.company.characters">
	<mat-nav-list>
		<mat-list-item *ngFor="let encounterCharacter of encounter.encounterCharacters | FilterDeleted | OrderEncounterCharacters">
			<a matLine (click)="Edit(encounterCharacter)">
				<span fxFlex="25">{{encounterCharacter.character.name}}</span>
				<span fxFlex="25">{{encounterCharacter.shares}}</span>
				<span fxFlex="25">
					{{ ((encounterCharacter.shares / (encounterCharacter.encounter | SumEncounterShares)) * 100) | number : "1.2-2"}}%
				</span>
				<span fxFlex="25">
					{{ encounterCharacter | SumCharacterEncounter | number : "1.2-2"}}
				</span>
			</a>
			<button mat-icon-button>
				<mat-icon>chevron_right</mat-icon>
			</button>
			<button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="encounterCharacter">
				<mat-icon class="mdi mdi-dots-vertical"></mat-icon>
			</button>
			<mat-menu #menu>
				<button mat-menu-item (click)="encounterCharacter.Delete()">
					<mat-icon class="mdi mdi-delete"></mat-icon>
					<span>Delete</span>
				</button>
			</mat-menu>
		</mat-list-item>
	</mat-nav-list>

	<button mat-button (click)="Add($event)" [disabled]="AddDisabled">Add</button>
	<button mat-button (click)="AddAll($event)" [disabled]="AddDisabled">Add All</button>
</div>
