﻿<div *ngIf="character">
	<mat-nav-list role="list">
		<mat-list-item role="listitem" *ngFor="let encounterCharacter of character.encounterCharacters">
			<a mat-line (click)="Edit(encounterCharacter)">
				<span fxFlex="50">{{ encounterCharacter.encounter.description }}</span>
				<span fxFlex="20">{{ encounterCharacter.shares }}</span>
				<span fxFlex="30" fxLayoutAlign="end">{{ encounterCharacter | SumCharacterEncounter | number : "1.2-2" }}</span>
			</a>
			<button mat-icon-button (click)="Load($event, encounterCharacter)">
				<mat-icon>chevron_right</mat-icon>
			</button>

		</mat-list-item>
		<mat-list-item role="listitem" *ngIf="!character.encounterCharacters.length">
			<span>No encounters.</span>
		</mat-list-item>
	</mat-nav-list>
</div>
