﻿<form #ManageCompanyForm="ngForm">
	<div class="container" *ngIf="company">
		<div *ngIf="errorMessage">
			<p>Error:</p>
			<pre class="text-danger">{{ errorMessage }}</pre>
		</div>

		<mat-card class="example-card">
			<mat-card-content>
				<mat-card-title>{{ company.description }}</mat-card-title>

				<mat-tab-group dynamicHeight="true">
					<mat-tab label="Characters">
						<ng-template matTabContent>
							<financial-company-character #CharacterList [company]="company" (navigationCallback)="Load($event)"></financial-company-character>
						</ng-template>
					</mat-tab>
					<mat-tab label="Encounters">
						<ng-template matTabContent>
							<financial-company-encounter [company]="company" #EncounterList></financial-company-encounter>
						</ng-template>
					</mat-tab>
					<mat-tab label="Loot">
						<ng-template matTabContent>
							<financial-company-loot [company]="company" #LootList></financial-company-loot>
						</ng-template>
					</mat-tab>
				</mat-tab-group>
			</mat-card-content>
		</mat-card>
	</div>
	<div class="fixed-button">
		<button mat-fab (click)="Update($event)">
			<mat-icon class="mdi mdi-floppy"></mat-icon>
		</button>
	</div>
</form>
