﻿<div class="container">
	<form role="form" #loginForm="ngForm" (keyup.enter)="login($event)">
		<div *ngIf="loginViewModel">
			<mat-form-field>
				<input matInput type="email" [(ngModel)]="loginViewModel.username" name="username" placeholder="Email" />
			</mat-form-field>
			<mat-form-field>
				<input matInput type="password" [(ngModel)]="loginViewModel.password" name="password" placeholder="Password" />
			</mat-form-field>
			<button mat-button color="warn" (click)="Login($event)">Submit</button>
			<span class="small">Not registered? <a [routerLink]="['/register']"> Click here to Register</a></span>
		</div>
	</form>
</div>

<div *ngIf="errorMessage">
	<p>Error:</p>
	<pre>{{ errorMessage  }}</pre>
</div>
