﻿<div *ngIf="encounter.loots">
	<mat-accordion class="accordian-flex">
		<mat-expansion-panel hideToggle="true" [disabled]="true">
			<mat-expansion-panel-header>
				<mat-panel-title>
					Item
				</mat-panel-title>
				<mat-panel-description>
					<span fxFlex="40" fxLayoutAlign="end stretch">Value</span>
					<span fxFlex="20" fxLayoutAlign="end stretch">Quantity</span>
					<span fxFlex="20" fxLayoutAlign="end stretch">Total</span>
					<span fxFlex="20" fxLayoutAlign="end stretch">Income</span>
				</mat-panel-description>
			</mat-expansion-panel-header>
		</mat-expansion-panel>
		<mat-expansion-panel *ngFor="let loot of (encounter.loots | FilterDeleted | OrderLoot)" hideToggle="true">
			<mat-expansion-panel-header>
				<mat-panel-title>
					{{ loot.description }}
				</mat-panel-title>
				<mat-panel-description>
					<span fxFlex="40" fxLayoutAlign="end stretch">{{ loot.value | number: "1.2-2" }}</span>
					<span fxFlex="20" fxLayoutAlign="end stretch">{{ loot.quantity }}</span>
					<span fxFlex="20" fxLayoutAlign="end stretch">{{ loot | SumLootValue | number: "1.2-2" }}</span>
					<span fxFlex="20" fxLayoutAlign="end stretch">{{ loot.transactions | SumTransactionAmounts | number: "1.2-2" }}</span>
				</mat-panel-description>
			</mat-expansion-panel-header>

			<ng-template matExpansionPanelContent>
				<financial-loot-detail [loot]="loot"></financial-loot-detail>
			</ng-template>
		</mat-expansion-panel>
		<mat-expansion-panel *ngIf="!(encounter.loots | FilterDeleted).length" hideToggle="true" [disabled]="true">
			<mat-expansion-panel-header>
				<mat-panel-title>
					No loot collected.
				</mat-panel-title>
			</mat-expansion-panel-header>
		</mat-expansion-panel>
		<mat-action-row>
			<button mat-button (click)="Add($event)">Add</button>
		</mat-action-row>
	</mat-accordion>
</div>
