﻿<h2 class="display-2">{{ searchState }} Loot <button mat-icon-button [matMenuTriggerFor]="menu">
		<mat-icon class="mdi mdi-filter"></mat-icon>
	</button></h2>
<mat-menu #menu>
	<button mat-menu-item (click)="Switch('Available')">Available</button>
	<button mat-menu-item (click)="Switch('All')">All</button>
</mat-menu>
<mat-accordion class="accordian-flex">
	<mat-expansion-panel hideToggle="true" [disabled]="true">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Item
			</mat-panel-title>
			<mat-panel-description>
				<span fxFlex="30">Encounter</span>
				<span fxFlex="25" fxLayoutAlign="end stretch">Value</span>
				<span fxFlex="25" fxLayoutAlign="end stretch">Remaining</span>
				<span fxFlex="20" fxLayoutAlign="end stretch">Income</span>
			</mat-panel-description>
		</mat-expansion-panel-header>
	</mat-expansion-panel>
	<mat-expansion-panel *ngFor="let loot of (company.encounters | FilterAvailableLoots : searchState) | OrderLoot" hideToggle="true">
		<mat-expansion-panel-header>
			<mat-panel-title>
				{{ loot.description }}
			</mat-panel-title>
			<mat-panel-description>
				<span fxFlex="30">{{ loot.encounter.description }}</span>
				<span fxFlex="25" fxLayoutAlign="end stretch">{{ loot.value | number : "1.2-2" }}</span>
				<span fxFlex="25" fxLayoutAlign="end stretch">{{ loot | SumRemainingLoot }}</span>
				<span fxFlex="20" fxLayoutAlign="end stretch">{{ loot.transactions | SumTransactionAmounts | number : "1.2-2" }}</span>
			</mat-panel-description>
		</mat-expansion-panel-header>

		<ng-template matExpansionPanelContent>
			<financial-loot-detail [loot]="loot"></financial-loot-detail>
		</ng-template>

	</mat-expansion-panel>
	<mat-expansion-panel *ngIf="!(company.encounters | FilterAvailableLoots : searchState).length" hideToggle="true" [disabled]="true">
		<mat-expansion-panel-header>
			<mat-panel-title>
				No Loot
			</mat-panel-title>
		</mat-expansion-panel-header>
	</mat-expansion-panel>
	<mat-expansion-panel hideToggle="true" [disabled]="true">
		<mat-expansion-panel-header>
			<mat-panel-title>
				Income Total:
			</mat-panel-title>
			<mat-panel-description>
				<span fxFlex="100" fxLayoutAlign="end stretch">{{ (company.encounters | FilterAvailableLoots : searchState) | GatherLootTransactions | SumTransactionAmounts | number : "1.2-2" }}</span>
			</mat-panel-description>
		</mat-expansion-panel-header>
	</mat-expansion-panel>
</mat-accordion>
