﻿<h1 mat-dialog-title>
	<mat-toolbar color="primary">
		<button mat-icon-button (click)="Abort()"><i class="mdi mdi-arrow-left"></i></button>
		<span class="toolbar-flex" *ngIf="data.create">Add Company</span>
		<span class="toolbar-flex" *ngIf="!data.create">Edit {{company.name}}</span>

		<button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="company">
			<mat-icon class="mdi mdi-dots-vertical"></mat-icon>
		</button>
		<mat-menu #menu>
			<button mat-menu-item (click)="Delete()">
				<mat-icon class="mdi mdi-delete"></mat-icon>
				<span>Delete</span>
			</button>
		</mat-menu>
	</mat-toolbar>
</h1>
<div mat-dialog-content>
	<mat-form-field>
		<input matInput required placeholder="Name" [(ngModel)]="company.name" (change)="company.Dirty()" #name="ngModel" />
		<mat-error *ngIf="name.invalid && name.errors.required">
			Name is required.
		</mat-error>
	</mat-form-field>
	<mat-form-field>
		<input matInput required placeholder="Description" [(ngModel)]="company.description" (change)="company.Dirty()" #description="ngModel" />
		<mat-error *ngIf="description.invalid && description.errors.required">
			Description is required.
		</mat-error>
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="Accept()" cdkFocusInitial>Ok</button>
</div>
