﻿<div *ngIf="character">
	<button mat-icon-button (click)="Edit()">
		<mat-icon class="mdi mdi-pencil"></mat-icon>
	</button>
	<mat-vertical-stepper #stepper>
		<mat-step>
			<ng-template matStepLabel>
				<span fxFlex="20" fxLayoutAlign="start stretch">Encounters</span>
				<span fxFlex="80" fxLayoutAlign="end stretch">{{ character.encounterCharacters | SumEncounterCharacter | number : "1.2-2" }}</span>
			</ng-template>
			<financial-character-encounter [character]="character" (navigationCallback)="Load($event)"></financial-character-encounter>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>
				<span>Loot</span>
				<span fxFlex="100" fxLayoutAlign="end stretch">{{ -((character.transactions | FilterLootTransactions : 1) | SumTransactionAmounts) | number : "1.2-2" }}</span>
			</ng-template>
			<financial-character-loot [character]="character"></financial-character-loot>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>
				<span>Transactions</span>
				<span fxFlex="100" fxLayoutAlign="end stretch">{{ ((character.transactions | FilterLootTransactions : 2) | SumTransactionAmounts) | number : "1.2-2" }}</span>
			</ng-template>
			<financial-transaction [character]="character"></financial-transaction>
		</mat-step>
	</mat-vertical-stepper>
</div>
