﻿<h1 mat-dialog-title>
	<mat-toolbar color="primary">
		<button mat-icon-button (click)="Abort()"><i class="mdi mdi-arrow-left"></i></button>
		<span class="toolbar-flex" *ngIf="data.create">Add Character</span>
		<span class="toolbar-flex" *ngIf="!data.create">Edit {{character.name}}</span>
		<button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="character">
			<mat-icon class="mdi mdi-dots-vertical"></mat-icon>
		</button>
		<mat-menu #menu>
			<button mat-menu-item (click)="Delete()">
				<mat-icon class="mdi mdi-delete"></mat-icon>
				<span>Delete</span>
			</button>
		</mat-menu>
	</mat-toolbar>
</h1>
<div mat-dialog-content>
	<mat-form-field>
		<input matInput required type="text" [(ngModel)]="character.name" name="name" placeholder="Character Name" (change)="character.Dirty()" #name="ngModel" />
		<mat-error *ngIf="name.invalid && name.errors.required">
			Name is required.
		</mat-error>
	</mat-form-field>
	<mat-form-field>
		<input matInput required type="text" [(ngModel)]="character.description" name="description" placeholder="Description" (change)="character.Dirty()" #description="ngModel" />
		<mat-error *ngIf="description.invalid && description.errors.required">
			Description is required.
		</mat-error>
	</mat-form-field>
	<mat-form-field>
		<mat-select [(ngModel)]="character.status" name="status" placeholder="Status" (selectionChange)="character.Dirty()" #status="ngModel">
			<mat-option [value]="characterStates.Active">{{ characterStates[characterStates.Active] }}</mat-option>
			<mat-option [value]="characterStates.Inactive">{{ characterStates[characterStates.Inactive] }}</mat-option>
			<mat-option [value]="characterStates.Dead">{{ characterStates[characterStates.Dead] }}</mat-option>
		</mat-select>
		<mat-error *ngIf="status.invalid && status.errors.required">
			Status is required.
		</mat-error>
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="Accept()" cdkFocusInitial>Ok</button>
</div>
