@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$portfolio-app-primary: mat-palette($mat-grey, 700, A100, A700);
$portfolio-app-accent: mat-palette($mat-green, 600, A100, A400);

// The warn palette is optional (defaults to red).
$portfolio-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$portfolio-app-theme: mat-light-theme($portfolio-app-primary, $portfolio-app-accent, $portfolio-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($portfolio-app-theme);

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
}

.container {
	margin: auto;
	max-width: 1200px;
}

.mat-toolbar,
.mat-button-wrapper {
	font-size: 24px;
}

.fixed-button {
	bottom: 30px;
	position: fixed;
	right: 30px;
	z-index: 999;
}

.mat-step-label {
	&.mat-step-label-active {
		flex-grow: 1;
	}
}

.mat-list,
.mat-nav-list,
.mat-selection-list {
	.mat-list-item,
	.mat-list-option {
		.mat-list-item-content {
			padding: 0 0 0 16px;
		}
	}
}

.mat-form-field {
	width: 100%;
}

mat-list {
	.mat-list-base {
		.mat-list-item {
			height: auto;
		}
	}
}

.mat-list-base {
	.mat-list-option {
		height: auto;
	}
}

.cdk-global-overlay-wrapper {
	.cdk-overlay-pane {
		max-width: inherit !important;

		.mat-dialog-container {
			padding: 0;
		}

		&.dialog-fill {
			width: 100%;
			height: 100%;
		}

		@media screen and (min-width: 600px) {
			max-width: 80vw !important;
		}
	}
}

.toolbar-flex {
	flex: 1 1 auto;
}

.mat-fab,
.mat-button,
.mat-icon-button {
	.mat-button-wrapper {
		mat-icon {
			&.mdi {
				vertical-align: inherit;
			}
		}

		.mdi {
			vertical-align: inherit;
		}
	}
}
